---
interface Props {
  title: string
}

import NavBar from "@/components/common/NavBar.astro";
import Footer from "@/components/common/Footer.astro";
import "@/styles/global.css";

const {title} = Astro.props;
---

<!doctype html>
<html lang="zh" class="overflow-x-hidden">
<head>
    <meta charset="UTF-8"/>
    <meta property="og:title" content={title}>
    <meta name="generator" content={Astro.generator}/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="Animeko - 一个一站式在线弹幕追番平台">
    <meta property="og:description" content="Animeko - 一个一站式在线弹幕追番平台">
    <meta name="generator" content={Astro.generator}/>
    <meta name="keywords"
          content="Animeko, 弹幕, 追番, 全自动BT, 数据源聚合, 离线缓存, Bangumi, 弹幕云过滤, 开源, 动漫, 收藏同步">
    <link rel="sitemap" href="/sitemap-index.xml"/>
    <link rel="icon" type="image/svg+xml" href="/logo.png"/>
    <title>{title}</title>
</head>
<body class="w-full h-full isolate bg-gray-900">
<div class="fixed left-0 top-0 w-full backdrop-blur bg-white/10 z-40">
    <NavBar />
</div>
<div class="mt-10">
    <slot/>
</div>
</body>
<footer>
    <Footer/>
</footer>
</html>
